<section class="container UserSection">
  <h2>設定</h2>
  <div class="UserContainer">
    <ul class="SideNavigation">
      <li class="SideNavigation__item ">
        <a href="/users/account_show">アカウント</a>
      </li>

      <li class="SideNavigation__item active">
        <a href="/users/profile_show">プロフィール</a>
      </li>
    </ul>

    <div class="AccountInformation">
      <ul class="TabNavigation">
          <li class="TabNavigation__item ">
          <a href="/users/account_show">アカウント</a>
        </li>

        <li class="TabNavigation__item active">
          <a href="/users/profile_show">プロフィール</a>
        </li>
      </ul>

      <div class="AccountInformation__header">
        <h3>プロフィール</h3>
        <a class="AccountInformation__link" href="/users/profile_edit">
          <%= image_tag 'pencil_icon.png', width: '30', height: '30' %>編集
        </a>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="image">アイコン画像</label>
        <p class="AccountInformation__value AccountInformation__value--image">
          <%= image_tag current_user.avatar.url, class:'UserIcon', size: "45x45" %>
        </p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="name">名前</label>
        <p class="AccountInformation__value">
          <%= current_user.username %>
        </p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="introduction">自己紹介</label>
        <p class="AccountInformation__value">
          <%= current_user.introduction %>
        </p>
      </div>
    </div>
  </div>
</section>