<section class="container room-list-container">
  <h2>予約済み一覧</h2>
  <div>
    <table class="table align-middle">
      <thead>
        <tr>
          <th>画像</th>
          <th>施設名</th>
          <th>紹介文</th>
          <th>合計料金</th>
          <th>チェックイン</th>
          <th>チェックアウト</th>
          <th>予約確定日時</th>
        </tr>
      </thead>

      <tdoby>

      </tbody>
    </table>
  </div>
</section>