<div class="FirstView">
  <section class="container">
    <h2 class="FirstViewTitle">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>
    <div class="FirstViewSerch">
      <%= search_form_for @q, url: rooms_result_path do |f| %>
        <%= f.search_field :room_address_cont, class: 'form-control HomeSearch', placeholder: 'エリア名を入力' %>
        <%= f.submit '検索', class: 'Button FirstViewSerchButton' %>
      <% end %>
    </div>
  </section>
</div>

<div class="container">
  <section class="RecommendAreaSection">
    <h2 class="RecommendAreaTitle">おすすめのエリア</h2>
    <div class="RecommendAreas">
      <a class="RecommendArea TokyoArea">
        <span class="RecommendAreaName">東京</span>
        <span class="RecommendAreaName">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>Tokyo
        </span>
      </a>
      <a class="RecommendArea OsakaArea">
        <span class="RecommendAreaName">大阪</span>
        <span class="RecommendAreaName">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>Osaka
        </span>
      </a>
      <a class="RecommendArea KyotoArea">
        <span class="RecommendAreaName">京都</span>
        <span class="RecommendAreaName">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>Kyoto
        </span>
      </a>
      <a class="RecommendArea SaporoArea">
        <span class="RecommendAreaName">札幌</span>
        <span class="RecommendAreaName">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>Saporo
        </span>
      </a>
    </div>
  </section>
</div>
