<div class="SearchRoomsFormContainer">
  <form class="SearchRoomsForm">
    <div class="SearchRoomsForm__input-group--area">
      <input class="SearchRoomsForm__input" placeholder="エリア名を入力" type="text" name="area" id="area" />
    </div>
    <div>
      <input class="SearchRoomsForm__input" placeholder="キーワード名を入力" type="text" name="keyword" id="keyword" />
    </div>
    <input type="submit" name="commit" value="検索" class=" SearchRoomsForm__button" data-disable-with="検索" />
  </form>
</div>

